<% breadcrumb :upload_datum, @upload_data %>
<% content_for :title, @upload_data.name %>

<div class="content-group">
  <%= render :partial => "editor", :locals => { :upload_data => @upload_data } %>
</div>
