<% content_for :title, @upload_data.name + " - Edit" %>
<div>
    <div class="content-editor">
      <%= render :partial => "editor", :locals => { :upload_data => @upload_data } %>
    </div>
</div>
<div class="comment-annotations">
  <%= render :partial => "comment_annotations", :locals => { :upload_data => @upload_data } %>
</div>
