
<% content_for :title, @upload_data.name + " - Edit" %>

<div class="content-editor">
  <%= render :partial => "editor", :locals => { :upload_data => @upload_data } %>
</div>
<div class="comment-annotations">
  <%= render :partial => "comment_annotations", :locals => { :upload_data => @upload_data } %>
</div>
<div class="comment-form">
  <%= render :partial => "comment_form", :locals => { :upload_data => @upload_data } %>
</div>

