<% if @test_case.make.nil? %>
  $("#new-make").show()
  $("#edit-make").hide()
  $("#delete-make").hide()
<% else %>
  $("#new-make").hide()
  $("edit-make").html( "<%= image_tag(\"icon_edit.png\", size: \"64x64\", alt: \"Edit Makefile\", title: \"Edit Makefile\") %>" + "<br> Edit Makefile")
  $("#edit-make").show()
  $("#delete-make").html(  '<%= j link_to(simple_format("<div>"+image_tag("icon_delete.png", size: "64x64", alt: "Delete Makefile", title: "Delete Makefile")+"<br>Delete Makefile</div>"), make_url(@test_case.make), method: :delete, :remote => true, data: { confirm: "Are you sure?" }) %>')
  $("#delete-make").show()
<% end %>
