<div class="file-uploader">
  <% type = target.class.name == "TestCase" ? "test_case" : "submission" %>
  <%= form_tag create_file_url(type, target), class: "dropzone", id: "dropzoneUploader", multipart: true do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= file_field_tag 'file', class: "file-selector" %>
  <% end %>
</div>
