<div class="file-uploader">
  <% type = target.class.name == "TestCase" ? "test_case" : "submission" %>
  <p>Upload File</p>
  <%= form_tag create_file_url(type, target), method: :post, :multipart => true do %>
    <%= file_field_tag 'upload_file' %><br>
    <%= submit_tag "Upload", :title => "Upload File" %>
  <% end %>
</div>


