
<% flash.each do |key, value| %>
  <% if key == 'notice' %>
    <div class="flash-messages">
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    </div>
  <% elsif key == 'comperr' %>
    <div class="compile-messages">
      <%= (value.gsub! "\n", "<br>").html_safe %>
    </div>
  <% end %>
<% end %>
