<p>
  <strong>Name:</strong>
  <%= @run_method.name %>
</p>

<p>
  <strong>Run command:</strong>
  <%= @run_method.run_command %>
</p>

<p>
  <strong>Description:</strong>
  <%= @run_method.description %>
</p>

