<% content_for :title, "Test Case Run" %>

<header>
  <h1>Output Compared to Expected Output</h1>
</header>

<table class="output-compare">
  <tr>
    <th>Output</th>
    <th>Expected Output</th>
  </tr>
  <% Dir.glob(@tempDirectory  + 'output_*') do |file| %>
    <tr>
      <% data = File.read(file) %>
      <% cmpName = file.gsub! @tempDirectory, "" %>
      <% test = @submission.assignment.test_case.upload_data.select { |out| out.name == cmpName } %>
      <% data2 = test.first.contents %>
      <% difference = Diffy::Diff.new(data, data2).to_s(:html_simple) %>
      <% insOut = data2.gsub! "\n", "<br>" %>
      <% studOut = data.gsub! "\n", "<br>" %>
      <td><%= studOut.html_safe %></td>
      <td><%= insOut.html_safe %></td>
    </tr>
    <tr>
      <td colspan="2"><center><%= difference.html_safe %></center></td>
    </tr>
  <% end %>
</table>

<% FileUtils.rm_rf(@tempDirectory) %>
