<% content_for :title, "Test Case Run" %>

<%= link_to 'Back', edit_submission_url(@submission) %>

<div class="grade-display">
  <center>
  <p class="grade">Correct Outputs</p>
  <p class="grade-value"><%= @correct[:correct].to_s + " out of " + @correct[:total].to_s %></p>
  </center>
  <br>
</div>

<%= render :partial => 'output_comparison' %>
