<% content_for :title, "Course List" %>

<header>
  <h1>Courses</h1>
</header>

<div class="content-group">
  <%= link_to 'Create new course', new_course_path %><br><br>
  <% @courses.each do |course| %>
    <p><%= link_to course.name, course %> | <%= link_to 'Enrolled Users', courses_users_path(course) %></p>
  <% end %>
</div>
