@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300);

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  outline: 0;
}

html, body.application {
  height: 100%;
}

.flash-messages {
  background-color: $color-flash;
  margin-bottom: 8px;
  padding: 5px;
  color: $font-color-dark;
  text-align: center;
}

.error-messages {
  background-color: $color-flash;
  margin-bottom: 8px;
  padding: 5px;
  color: $font-color-error;
  text-align: center;
}

.container {
  min-height: 100%;
  position: relative;
  width: 100%;
}

.application-content {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
  padding: 16px 16px 16px $sidebar-width+16px;
  position: absolute;
  width: 100%;

  header {
    background-color: $color-header;
    border-bottom: 1px solid $color-border-light;
    padding: 4px;

    h1 {
      color: $font-color-dark;
      text-align: center;
    }

    h2 {
      color: $font-color-dark;
      text-align: center;
    }
  }
}
