@import "variables";

.manage-test-case {
  text-align: center;
}

.testcase-actions, .makefile-actions {
  text-align: center;

  :after {
    content: "";
    display: block; 
    height: 0; 
    clear: both;
  }

  ul {
    display: inline-block;
  }

  li {
    float: left;
    clear: right;
    margin: 0 10px;
    background-color: $color-form-white;
    border-radius: 0px;
    border: 1px solid $color-border-light;

    div {
      padding: 10px;
      text-align: center;
    }

    a {
      color: $font-color-dark;
    }

  }

  li:hover {
    box-shadow: 1px 1px 3px #888;
  }
}

a[data-method='delete'] {
  color: grey;
  text-shadow: 1px 1px black;
  div {
    color: $font-color-dark;
    text-shadow: none;
  }
}
