// Place all the styles related to the UploadData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor { 
  position: relative;
  width: 60%;
  height: 400px;
}

#annotations {
  position: absolute;
  left: 70%;
  width: 25%;
  top: 12%;
  height: 400px;
  border-style: solid;
}

.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 0px 0px 20px; 
    box-shadow: 0px 0px 1px 1px red inset; 
} 

.content-editor{
  padding-bottom: 10px;

}

#comment_contents{
  min-width: 75px;
  max-width: 300px;
  width: 35%;
  height: 75px;
}
input[value=Post] {
  border: 1px dotted #999;
  border-radius: 0;
  margin: 4px;

}

#comment_favorites {
  th{
    text-align: center;
    color: rgb(9,57,107);
    border: 1px solid rgb(9,57,107);
  }
  position: absolute;
  left: 40%;
  width: 20%;
  top: 75%;
  height: 400px;
}
