@import "variables";

.upload-data-wrapper {
  display: table;
  height: 100%;
  width: 100%;

  .editor-left-col {
    display: table-cell;
    width: 70%;
    height: 100%;
    padding-right: 5px;

    .editor {
      width: 100%;
      position: relative;
      height: 800px;
    }
  }

  .editor-right-col {
    display: table-cell;
    width: 30%;

    .comment-table {
      height: 100%;
      width: 100%;

      table {
        width: 100%;

        thead tr th:nth-child(3) {
          width: 50px;
        }

        thead tr th:first-of-type {
          width: 50px;
        }
      }
    }
  }

  .editor-form {
    background-color: $color-form-white;
    border-radius: 0px;
    border: 1px solid $color-border-light;
    position: relative;

    input[type="text"] {
      background-color: $color-form-white;
      font-size: $font-size-medium;
      outline: none;
      border: none;
      padding: 5px;
      width: 50%;
      height: 28px;
      position: absolute;
      top: 0;
      left: 100px;
    }

    input[type=submit] {
      background-color: $color-form-white;
      border-radius: 0px;
      border: 1px solid $color-border-light;
      font-size: $font-size-standard;
      width: 100px;
      padding: 10px;
      cursor: pointer;
    }
  }
}

.comment-form {
  height: 100%;

  form {
    width: 60%;
  }

  .comment-pool {
    width: 40%;
    float: right;
    padding: 0 15px;
    box-sizing: border-box;
    min-height: 50%;
    margin-top: 113px;

    #comment-favorites, #comment-suggestions {
      width: 100%;
    }
  }
}

#annotations {
  position: absolute;
  left: 70%;
  width: 25%;
  top: 12%;
}

.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 0px 0px 20px; 
    box-shadow: 0px 0px 1px 1px red inset; 
} 

.content-editor{
}
