// Place all the styles related to the UploadData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor { 
  position: relative;
  width: 60%;
  height: 400px;
}

#annotations {
  position: absolute;
  left: 70%;
  width: 25%;
  top: 6.5%;
  height: 400px;
  border-style: solid;
}

.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 0px 0px 20px; 
    box-shadow: 0px 0px 1px 1px red inset; 
} 