
.registerPrompt {
  padding: 10px;
}

.registerPrompt form {
  margin: 0 auto;
  width: 250px;
}

.loginInput {
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000;
  margin: 0 auto;
  margin-top: 15px;
  width: 250px;
}

.loginInput input#user_name {
  border: 1px solid #404040;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18;
  padding: 2px;
  width: 250px;
}

.loginInput input#user_email {
  border: 1px solid #404040;
  border-top: none;
  font-size: 18;
  padding: 2px;
  width: 250px;
}

.loginInput input#user_password {
  border: 1px solid #404040;
  border-top: none;
  border-bottom: none;
  font-size: 18;
  padding: 2px;
  width: 250px;
}

.loginInput input#user_password_confirmation {
  border: 1px solid #404040;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 18;
  padding: 2px;
  width: 250px;
}

.registerPrompt input[type="submit"] {
  border-radius: 5px;
  border: 1px solid #404040;
  box-shadow: 1px 1px 3px #000;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 100px;
}

h1 {
  color: #404040;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: #404040;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25;
  font-weight: 300;
  text-align: center;
}

