/* Fonts */
$font-size-small: 12px;
$font-size-standard: 16px;
$font-size-medium: 20px;
$font-size-large: 32px;
$font-color-light: #f5f5f5;
$font-color-dark: #333;

/* Sizes */
$sidebar-width: 175px;

/* Colors */
$color-background: #e9e9e9;
$color-foreground: #f1f1f1;
$color-header: #f8f8f8;
$color-sidebar-background: #09396b;
$color-border-dark: #222;
$color-border-light: #ddd;

$color-login-header: #09396b;
